<h1>Log IN here!</h1>
<form method="post" action='logged'>
    Username: <input type='text' name='username'>
    Password: <input type='text' name='password'>
    <input type='submit' value='Log In'>
</form>