<h1>Please provide both a username AND a password in order to sign up!</h1>
<form method="post" action='signedup'>
    Username: <input type='text' name='username'>
    Password: <input type='text' name='password'>
    <input type='submit' value='Sign Up!'>
</form>