<h1>We're sorry, that username is already in use, please pick a different username!</h1>
<form method="post" action='/signedup'>
    Username: <input type='text' name='username'>
    Password: <input type='text' name='password'>
    <input type='submit' value='Sign Up!'>
</form>