<!DOCTYPE html>
<h1>Welcome to Games Backlog!</h1>
<p>WHY ARE THERE SO MANY GAMES?! Have you ever looked at your Steam Library or your 
physical game shelf and thought to youself, "Huh, there are just way too many games for me to 
keep track of! I haven't even played half of the ones I was hyped for 5 years ago!"? Well look no further!
Here at Games Backlog you can keep track of all the games you've left on the backburner but have been meaning to
try at some point!</p>

<h5>Here's a list of all the games our users have kept on the backburner! Maybe you're in the same boat! Maybe you and someone else have
been waiting for a co-op buddy to start the game with! Or maybe you've already played that game and can hype up the game enough
so other users can finally clear those games from their backlogs!!!</h5><br>
<ol type="A">
<% @games.each do |game| %>    
        <li><%= game.name %></li>    
    <% end %>
    </ol>
    <%= @games %>
</html>